@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-size: var(--font_size_base);
  }

  body {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: var(--font_family);
    font-weight: var(--font_weight_regular);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: Menlo, Monaco, "Courier New", monospace;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Local imports
 * - design tokens
 * - CSS icons
 */
@import './tokens.css';
@import './weather-icons.css';
